:root {
	/* Colors */
    --main-color: #5FBBD1;
    --main-color-dark: #13202B;
    --bronze: #BA5000;
    --sliver: #3A607D;
    --gold: #FA9500;
    --platinum: #00E69F;
    --diamond: #00B7FF;
    --ruby: #FF005F;
	--pipe: #A3A3A3;
	--pipe-dark: #707070;
}

/* 작은 컴포넌트의 선택 애니메이션 */
@keyframes select-tiny {
	from {
		opacity: 1;
		margin-top: 65px;
		margin-left: 65px;
		width: 0px;
		height: 0px;
	}
	to {
		opacity: 0;
		margin-top: -85px;
		margin-left: -85px;
		width: 300px;
		height: 300px;
	}
}

/* 큰 컴포넌트의 선택 애니메이션 */
@keyframes select {
	from {
		opacity: 1;
		margin-top: 0px;
		margin-left: 0px;
		width: 0px;
		height: 0px;
	}
	to {
		opacity: 0;
		margin-top: -300px;
		margin-left: -300px;
		width: 600px;
		height: 600px;
	}
}

body {
	background-color: var(--main-color-dark);
	/* 화면 내 컴포넌트의 가운데 정렬을 위해 flex 사용 */
	display: flex;
	overflow: hidden;
}

#background {
	position: absolute;
	margin: auto;
	opacity: 0.25;
	z-index: -1;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}


/* 큰 컴포넌트의 기본 옵션 */
.big-container {
	background-color: #ffffff;
	border: 5px solid var(--main-color);
	width: 350px;
	height: 350px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
	margin: auto;
}

/* 큰 컴포넌트 뒤 선택 애니메이션 효과를 넣기위한 CSS */
.big-container::after {
	content: '';
	border-radius: 50%;
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: var(--main-color);
	animation-name: select;
	
	/* 이벤트 지속시간 */
	animation-duration: 2s;
	
	/* 이벤트 반복 여부 */
	animation-iteration-count: infinite;
}

/* 큰 컴포넌트 내 header*/
.big-container h1 {
	color: var(--main-color);
	margin: 50px auto;
	font-size: 35px;
}

/* 큰 컴포너트 내 form CSS. 가운데 정렬을 위해 사용 */
.big-container form {
	display: flex;
	flex-direction: column;
	height: 250px;
	margin: 0;
}

/* 가운데 정렬을 위해 사용한 form 내부 div의 CSS*/
.big-container form div {
	display: flex;
	align-self: center;
	flex-basis: 50%;
	/* form 내부에 해당 컴포넌트가 차지할 비율 */
  flex-grow: 1;
}

/* Container의 제목을 표현하는 Element */
.big-container.title {
	width: 207px;
	height: 84px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 0.5;
}

/* label CSS */
.big-container label {
	display: block;
	width: 40px;
	height: 16px;
	color: var(--main-color);
	text-align: left;
}

/* input CSS */
.big-container input {
	border: 1px solid var(--main-color);
	width: 150px;
	height: 24px;
	display: flex;
	align-items: flex-end;
}

/*  */
#register-btn {
	margin-top: 20px;
	background-color: #ffffff;
	border: none;
	width: fit-content;
	justify-self: center;
	align-self: center;
	text-decoration: underline;
	color: var(--main-color);
}

/* submit btn을 최하단에 배치하기 위해 사용한 div CSS */
#submit-btn {
	width: 100%;
	flex-basis: 100%;
  flex-grow: 4;
	align-items: flex-end;
}

/* 실제 submit 버튼의 CSS. height로 크기를 조절할 수 있다 */
#submit-btn input{
	background-color: var(--main-color);
	width:100%;
	height: 75px;
	color: #ffffff;
	font-size: 18px;
	justify-content: center;
}

/* 작은 컴포넌트의 기본 옵션 */
.tiny-container {
	background-color: #ffffff;
	border: 5px solid var(--main-color);
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
}

/* 작은 컴포넌트에 물을 채움 */
.tiny-container.water {

}

.tiny-container .title {
	margin: auto;
	width: 100px;
	height: 40px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	font-size: 16px;
	font-weight: bold;
}

/* 작은 컴포넌트 */
.tiny-container .big-title {
	color: var(--main-color);
	margin: 50px auto;
	font-size: 24px;
}

.tier {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 39px;
	height: 50px;
	opacity: 1;
}

/* 선택한 작은 컴포넌트에 애니메이션 효과를 넣기위한 CSS */
.tiny-container.selected::after {
	content: '';
	border-radius: 50%;
	z-index: -1;
	position: absolute;
	background-color: var(--main-color);
	animation-name: select-tiny;
	
	/* 이벤트 지속시간 */
	animation-duration: 2s;
	
	/* 이벤트 반복 여부 */
	animation-iteration-count: infinite;
}

/* 테이블 CSS */
table {
	height: auto;
	margin: auto;
	border-spacing: 0;
}
tr {
	height: 140px;
}
td {
	width: 130px;
}